/**
name: Bugzilla SF
scope: domain bugzilla.xamarin.com
*/

body,
td,
th,
input,
.bz_comment_text,
.uneditable_textarea {
    font-family: "SF UI Text";
}

.bz_comment_text,
.uneditable_textarea {
    font-size: 10pt;
}
